DATABASE_URL="file:./db/custom.db"
ADMIN_USERNAME="admin"
ADMIN_PASSWORD_HASH=""
NEXTAUTH_SECRET=""

# Vercel / Turso (production only)
TURSO_DATABASE_URL=""
TURSO_AUTH_TOKEN=""

# Email
CONTACT_EMAIL_API_KEY=""
